body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.huge {
	/*
	display: flex;
	flex-direction: column;
	*/
}

.header {
	background: #1f2937;
	display: flex;
	padding: 8px;
	color: white;
	font-weight: bold;
	font-size: 23px;
	justify-content: space-around;
	gap: 100px;
}

.logo {
	margin: 20px;
	font-size: 30px;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 20px;
	padding: 0;
	gap: 20px;
	font-weight: normal;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: white;
}

.thiswebcon1 {
	display: flex;
	padding: 0;
	background: #1f2937;
	color: white;
	justify-content: space-evenly;
}

.thisweb {
	display: flex;
	flex-direction: column;
	padding: 100px;
}

.awesome {
	font-size: 60px;
	font-weight: 900;
}

.greybox {
	background: grey;
	width: 200px;
	padding: 120px;
	margin: 100px;
	border-radius: 5px;

}

.thisweb button {
	background: #3882F6;
	display: block;
	width: 100px;
	padding: 5px;
	margin-top: 10px;
	border-radius: 5px;
	font-weight: bold;
	color: white
}

.thiswebcon2 {
	display: flex;
	justify-content: center;
	padding: 50px;
}

.titleinfo {
	font-weight: bold;
	font-size:40px;
	color: #1f2937
}

.boxcontainer {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.boxcontainer div {
	width: 50px;
	background: white;
	border: solid;
	border-color: #3882F6;
	border-radius: 10px;
	width: 150px;
	height: 150px;
	margin: 5px;
}

.boxtextcon {
	display: flex;
	justify-content: center;
	gap: 33px;
	margin-bottom: 100px;
}

.boxtext {
	font-size: 15px;
	width: 150px;
	text-align: center;
}

.greysection {
	background: #e5e7eb;
	padding: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.qoute {
	font-style: italic;
	font-size: 35px;
	width: 720px;
}

.thor {
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
}

.actionbigcon {
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px;
	margin: 0;
}

.actioncon {
	display: flex;
	color: white;
	background: #3882F6;
	padding: 40px;
	border-radius: 5px;
	justify-content: space-evenly;
	width: 700px;
}

.action {
	font-weight: bold;
	font-size: 20px;
}

.action span {
	display: block;
	font-weight: normal;
	font-size: 14px;
}

.actioncon button {
	background: #3882F6;
	width: 100px;
	border-radius: 5px;
	font-weight: bold;
	color: white;
	border-color: white;
}

.copyright {
	text-align: center;
	color: white;
	background: #1f2937;
	padding: 20px;
}

.copyright a {
	font-weight: bold;
}